
$primary: #5dcfc4 ;

.bg-gray {
    background-color: #d1d3d6 !important;
}

.w-15 {
    width: 15%!important;
}

@media (min-width:768px) {
    .w-md-50{
        width: 50%!important;
    }

    .w-md-75{
        width: 75%!important;
    }

    .flex-md-row{
        flex-direction: row!important;
    }
    
    .w-lg-50{
        width: 50%!important;
    }
}

@media (min-width:1200px){
    .w-lg-100{
        width: 100%!important;
    }
}

fieldset {
    background-color: #eeeeee;
}

legend {
background-color: gray;
color: white;
padding: 5px 10px;
}

input {
margin: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@import "node_modules/bootstrap/scss/bootstrap";
