<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:insert="fragments/head.html::head" th:remove="tag"></div>

<body>
    <div class="mt-3 container-fluid">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
    </div>

    <div class="container text-center mb-3">
        <img class="text-center img-fluid w-25" src="/img/muzon.png" alt="Our logo muzon"/>
    </div>
    <div class="container text-center lead mb-3">LOG IN TO CONTINUE</div>
    <p>Hiiiiii</p>
    <div class="d-flex justify-content-center container">
        <form th:action="@{/login}" method="post">
            <div class="form-group mb-3" id="user-group">
                <input type="text" class="form-control" placeholder="Username" name="username" alt="usernameForm"/>
            </div>
            <div class="form-group mb-3" id="contrasena-group">
                <input type="password" class="form-control" placeholder="Password" name="password" alt="passwordForm"/>
            </div>
            <button type="submit" class="container btn btn-primary"><i
                    class="fas fa-sign-in-alt"></i> LOG IN</button>
        </form>
    </div>
    <p class="text-center">New to Muzon? <a href="#" th:href="@{/signup}">Register</a></p>
</body>
</html>

