<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Ver Citas</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="img/muDamu.png" />
</head>

<body>
  <div id="success" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h1>Success</h1>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <main class="my-5 container-fluid">
    <div class="card bg-light">
      <div class="card-header">
        <i class="fas fa-table me-1"></i> Citas
      </div>
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4 text-black">

          <div class="col" th:each="cita: ${citas}">
            <div class="card h-100">
              <div class="card-body">
                <input type="hidden" id="idCita" th:value="${cita.citaID}" />
                <h5 class="card-title" th:text="${cita.fecha_hora}"></h5>
                <a href="#" onclick="cancelar()" class="btn btn-primary">Cancelar Cita</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>

<script>
  function cancelar() {
    $.ajax({
      type: "POST",
      url: "/pacientes/cancelarCita",
      //url: "/cancelarCita",
      data: {
        cita: $("#idCita").val(),
      },
      success: function (data) {
        $("#success").modal('show');
        setTimeout(function () { location.reload(); }, 1500);
      },
    });
  }
</script>