<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Create Account</h3>
                                </div>
                                <div class="card-body">
                                    <form th:object="${userForm}" th:action="@{/signup}" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-12 mb-1">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="floatingInput" type="text"
                                                        th:field="${userForm.tarjetaSanitaria}"
                                                        th:disabled="${disableFields}" required />
                                                    <label class="col-md-12" for="inputFirstName">TarjetaSanitaria</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 mb-1">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-md-0">
                                                        <input type="password" id="inputValidationEx2"
                                                            class="form-control validate" th:field="${userForm.password}" required>
                                                        <label for="inputLastName">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="alert alert-warning password-alert" role="alert">
                                                        <ul>
                                                            <li class="requirements leng"><i
                                                                    class="fas fa-check green-text"></i> Your password
                                                                must have at least 8 chars.</li>
                                                            <li class="requirements big-letter"><i
                                                                    class="fas fa-check green-text"></i> Your password
                                                                must have at least 1 big letter.</li>
                                                            <li class="requirements num"><i
                                                                    class="fas fa-check green-text"></i> Your password
                                                                must have at least 1 number.</li>
                                                            <li class="requirements special-char"><i
                                                                    class="fas fa-check green-text"></i> Your password
                                                                must have at least 1 special char.</li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button id="confirm" type="submit"
                                                    class="d-none btn btn-primary btn-block">Create Account</a></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    
</body>

</html>

<script>
    $(function () {
    var $password = $(".form-control[type='password']");
    var $passwordAlert = $(".password-alert");
    var $requirements = $(".requirements");
    var leng, bigLetter, num, specialChar;
    var $leng = $(".leng");
    var $bigLetter = $(".big-letter");
    var $num = $(".num");
    var $specialChar = $(".special-char");
    var specialChars = "!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
    var numbers = "0123456789";

    $requirements.addClass("wrong");
    $password.on("focus", function(){$passwordAlert.show();});

    $password.on("input blur", function (e) {
        var el = $(this);
        var val = el.val();
        $passwordAlert.show();

        if (val.length < 8) {
            leng = false;
        }
        else if (val.length > 7) {
            leng=true;
        }
        

        if(val.toLowerCase()==val){
            bigLetter = false;
        }
        else{bigLetter=true;}
        
        num = false;
        for(var i=0; i<val.length;i++){
            for(var j=0; j<numbers.length; j++){
                if(val[i]==numbers[j]){
                    num = true;
                }
            }
        }
        
        specialChar=false;
        for(var i=0; i<val.length;i++){
            for(var j=0; j<specialChars.length; j++){
                if(val[i]==specialChars[j]){
                    specialChar = true;
                }
            }
        }

        console.log(leng, bigLetter, num, specialChar);
        
        if(leng==true&&bigLetter==true&&num==true&&specialChar==true){
            $(this).addClass("valid").removeClass("invalid");
            $requirements.removeClass("wrong").addClass("good");
            $passwordAlert.removeClass("alert-warning").addClass("alert-success");
            $("#confirm").removeClass("d-none");
        }
        else
        {
            $("#confirm").addClass("d-none");

            $(this).addClass("invalid").removeClass("valid");
            $passwordAlert.removeClass("alert-success").addClass("alert-warning");

            if(leng==false){$leng.addClass("wrong").removeClass("good");}
            else{$leng.addClass("good").removeClass("wrong");}

            if(bigLetter==false){$bigLetter.addClass("wrong").removeClass("good");}
            else{$bigLetter.addClass("good").removeClass("wrong");}

            if(num==false){$num.addClass("wrong").removeClass("good");}
            else{$num.addClass("good").removeClass("wrong");}

            if(specialChar==false){$specialChar.addClass("wrong").removeClass("good");}
            else{$specialChar.addClass("good").removeClass("wrong");}
        }
        
        
        if(e.type == "blur"){
                $passwordAlert.hide();
            }
    });
});
</script>