<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressLongModal">Add Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addAddressForm" th:object="${addressForm}" method="post" class="form" role="form">
          <input class="form-control" type="hidden" th:field="${addressForm.id}">
          <div class="col-12">
            <input class="form-control" type="text" th:field="${addressForm.newAddress}">
            <div class="alert-danger" th:if="${#fields.hasErrors('newAddress')}" th:errors="*{newAddress}">New Address
            </div>
          </div>
      </div>
      </form>
      <div class="modal-footer">
        <a th:href="@{/userForm/cancel}">
          <button type="button" class="btn btn-secondary">Close</button>
        </a>
        <button type="button" onClick="submitAddAddress()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function submitAddAddress() {
    var params = {};
    params["id"] = $("#id").val();
    params["newAddress"] = $("#newAddress").val();

    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/editUser/addAddress",
      data: JSON.stringify(params),
      dataType: 'text',
      cache: false,
      timeout: 600000,
      success: function (data) {
        $("#addAddressForm")[0].reset();

        $("#addAddressError").addClass("d-none");
        $("#formSuccess").removeClass("d-none");
        $("#formSuccess").html("Password Actualizado exitosmante!.");

        $('#addAddressModal').modal('toggle');
        setTimeout(function () { $("#formSuccess").hide('slow'); }, 2000);
      },
      error: function (e) {
        $("#addAddressError").removeClass("d-none");
        $("#formSuccess").addClass("d-none");
        $("#addAddressError").html(e.responseText);
      }
    });
  }
</script>
