<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Muzon</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--JavaScript Bundle with Popper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!--OUR CSS-->
    <link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">
    <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container px-5 bg-gray rounded">
        <div id="myTab" role="tablist">
            <div class="d-flex pt-2">
                <div id="back" class="pt-2 px-1 mr-5">
                    <a class="btn btn-secondary" th:href="@{'/userForm/cancel'}">Back</a>
                </div>

                <div class="text-center pt-2 mx-5">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}"
                        data-target="#addAddressModal">New Address</button>
                </div>
            </div>
            <div class="mt-4">
                <div class="d-flex flex-wrap">
                    <tr th:each="addresses: ${addressList}">
                        <div class="card my-2 ml-1 mr-5">
                            <h5 class="card-header text-capitalize" th:text="${addresses.address}"></h5>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0 d-flex flex-column">
                                    <small><a th:if="${addresses.defaultAddress == 0}"
                                            th:href="@{'/setDefault/'+ ${addresses.id}}">Set as
                                            default</a></small>
                                    <small><b><a class="text-muted" th:if="${addresses.defaultAddress == 0}"
                                                th:href="@{'/delete/'+ ${addresses.id}}">Delete</a></small></b>
                                </blockquote>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
            <div th:if="${editMode}" th:include="user-form/add-address.html" th:remove="tag"></div>
        </div>
    </div>
</body>

</html>
