<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="fragments/head.html::head" th:remove="tag"></div>
</head>

<body>
    <div id="back" class="d-none container pt-2 px-1 mx-3">
        <a class="btn btn-secondary" th:href="@{'/userForm/cancel'}">Back</a>
    </div>

    <div id="principal" class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner pb-3">
                <div class="carousel-item active">
                    <div class="container d-flex justify-content-around flex-column flex-md-row px-3">

                        <div><a onclick="displayCarrousel('clothes')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <img src="https://img.icons8.com/ios/150/000000/hanger.png" class="p-0 m-0"
                                            style="width: 39%;" />
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Clothes</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('cups')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-coffee fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Cups</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('books')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-book fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Books</b></h6>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container d-flex justify-content-around flex-column flex-md-row px-3">
                        <div><a onclick="displayCarrousel('music')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-headphones fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Music</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('utensils')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-utensils fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Utensils</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('hygiene')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fa fa-shower fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Hygiene</b></h6>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container d-flex justify-content-around flex-column flex-md-row px-3">
                        <div><a onclick="displayCarrousel('bicycle')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fa fa-bicycle fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Bicycle</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('medical')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-band-aid fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Medical</b></h6>
                                    </div>
                                </div>
                            </a></div>

                        <div><a onclick="displayCarrousel('briefcases')" class="text-decoration-none text-dark">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-briefcase fa-5x"></i>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h6><b>Briefcases</b></h6>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" style="width: 10%;height: 80%;">
                <span><i class="fas fa-chevron-circle-left text-dark fa-lg" aria-hidden="true"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next" style="width: 10%;height: 80%;">
                <i class="fas fa-chevron-circle-right text-dark fa-lg" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>

            <div class="container pt-3 mt-3">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            </div>
        </div>

        <div class="container-fluid box border-0 mb-3 mx-0 px-0">
            <h6>Recommended Products</h6>
            <div class="list-group list-group-horizontal bg-white overflow-auto text-nowrap flex-row border-0 p-0">
                <tr th:each="product: ${productList}">
                    <div th:if="${product.quantity} != 0">
                        <a th:href="@{'/displayProducts/' + ${product.id}}" class="text-decoration-none">
                            <h5 class="text-capitalize mx-2 text-black" th:text="${product.name}"></h5>
                        </a>
                    </div>
                </tr>
            </div>
        </div>
    </div>

    <div id="cambios" class="d-none container-fluid"></div>

    <div class="d-none py-3 footer fixed-bottom text-end" id="backtotop">
        <span class="fa-stack mx-2 fa-lg">
            <a href="#">
                <img src=https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/arrow-up-circle-fill.svg width="32"
                    height="32" alt="">
            </a>
        </span>
    </div>
</body>

<script>
    function displayCarrousel(clicked) {
        var http = new XMLHttpRequest();
        var url = "/displayProducts/";

        http.open('POST', url, true);

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.status == 200) {
                $("#cambios").removeClass("d-none");
                $("#cambios").html(http.responseText);
                $("#principal").addClass("d-none");
                $("#searchAndSell").addClass("d-none");
                $("#back").removeClass("d-none");
            }
        }

        http.send("ccate=" + clicked);
    }

    var prevScrollpos = window.pageYOffset;
    var first = 0;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;

        console.log(currentScrollPos);
        if (currentScrollPos == 0) {
            console.log("sdad");
            $("#backtotop").addClass("d-none");
            first = 0;

        } else if (currentScrollPos > 20) {
            $("#backtotop").removeClass("d-none");
            console.log(first);
            if (first == 0) {
                $('#backtotop').fadeTo(0, 0);
                first = 1;
                $('#backtotop').fadeTo(1000, 1);
            }
        }
        prevScrollpos = currentScrollPos;
    }
</script>

</html>
